In [1]:
import pandas as pd
import numpy as np
!pwd

import os

/Users/preetigupta/Documents/Fall/UDA/FInalProjectKaggle

In [25]:
notebook_path = os.path.abspath("Notebook.ipynb")

train_csv = os.path.join(os.path.dirname(notebook_path), "gender-classifier-DFE-7915312.csv")
print(train_csv)
data = pd.read_csv(train_csv, encoding='latin-1')

/Users/preetigupta/Documents/Fall/UDA/FInalProjectKaggle/gender-classifier-DFE-7915312.csv

In [26]:
data.keys()

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [27]:
data

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,8/5/15 21:16,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,6.587400e+17,Verona ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,6.587300e+17,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,9/3/12 1:17,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,6.587400e+17,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,11/6/12 23:46,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,6.587300e+17,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,6.587400e+17,NaN,NaN

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [29]:
# null values
data.isnull().sum()

_unit_id                     0
_golden                      0
_unit_state                  0
_trusted_judgments           0
_last_judgment_at           50
gender                      97
gender:confidence           26
profile_yn                   0
profile_yn:confidence        0
created                      0
description               3744
fav_number                   0
gender_gold              20000
link_color                   0
name                         0
profile_yn_gold          20000
profileimage                 0
retweet_count                0
sidebar_color                0
text                         0
tweet_coord              19891
tweet_count                  0
tweet_created                0
tweet_id                     0
tweet_location            7484
user_timezone             7798
dtype: int64

In [30]:
# Drop unnecessary columns/features
data.drop (columns = ['_unit_id',
                      '_last_judgment_at',
                      'user_timezone',
                      'tweet_coord',
                      'tweet_created', 
                      'tweet_id',
                      'tweet_location',
                      'profileimage',
                      'created',
                      'name'], inplace = True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                20050 non-null  bool
 1   _unit_state            20050 non-null  object
 2   _trusted_judgments     20050 non-null  int64
 3   gender                 19953 non-null  object
 4   gender:confidence      20024 non-null  float64
 5   profile_yn             20050 non-null  object
 6   profile_yn:confidence  20050 non-null  float64
 7   description            16306 non-null  object
 8   fav_number             20050 non-null  int64
 9   gender_gold            50 non-null     object
 10  link_color             20050 non-null  object
 11  profile_yn_gold        50 non-null     object
 12  retweet_count          20050 non-null  int64
 13  sidebar_color          20050 non-null  object
 14  text                   20050 non-null  object
 15  tweet_count            20050 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [31]:
data.describe()

,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count
count,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04
mean,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04
std,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05
min,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00
25%,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03
50%,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04
75%,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04
max,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06

In [21]:
# null values
data.isnull().sum()

_unit_id                 0.0
_golden                  0.0
_unit_state              0.0
_trusted_judgments       0.0
_last_judgment_at        0.0
gender                   0.0
gender:confidence        0.0
profile_yn               0.0
profile_yn:confidence    0.0
created                  0.0
description              0.0
fav_number               0.0
gender_gold              0.0
link_color               0.0
name                     0.0
profile_yn_gold          0.0
profileimage             0.0
retweet_count            0.0
sidebar_color            0.0
text                     0.0
tweet_coord              0.0
tweet_count              0.0
tweet_created            0.0
tweet_id                 0.0
tweet_location           0.0
user_timezone            0.0
dtype: float64

In [33]:
#Exploring target variable
data['gender'].value_counts()

female     6700
male       6194
brand      5942
unknown    1117
Name: gender, dtype: int64

In [34]:
# Getting rid of unknown gender rows
unknown_items_idx = data[data['gender'] == 'unknown'].index
data.drop (index = unknown_items_idx, inplace = True)
data['gender'].value_counts()

female    6700
male      6194
brand     5942
Name: gender, dtype: int64

In [35]:
print('Profile_yn information:\n',data['profile_yn'].value_counts())
print('-'*40)
print('Number of NaN instances when profile_yn is No: ', data[data['profile_yn'] == 'no']['gender'].isnull().sum())

Profile_yn information:
 yes    18836
no        97
Name: profile_yn, dtype: int64
----------------------------------------
Number of NaN instances when profile_yn is No:  97

In [36]:
# Getting rid of rows where profile_yn is no

drop_items_idx = data[data['profile_yn'] == 'no'].index
data.drop (index = drop_items_idx, inplace = True)
data.drop (columns = ['profile_yn','profile_yn:confidence','profile_yn_gold'], inplace = True)

In [37]:
# Getting rid of data rows where target abel confidence is lesser than 100%
print ('Full data items: ', data.shape)
print ('Data with label-confidence < 100%: ', data[data['gender:confidence'] < 1].shape)

Full data items:  (18836, 13)
Data with label-confidence < 100%:  (5032, 13)

In [38]:
drop_items_idx = data[data['gender:confidence'] < 1].index
data.drop (index = drop_items_idx, inplace = True)
data.drop (columns = ['gender:confidence'], inplace = True)

In [39]:
data.drop (columns = ['_golden','_unit_state','_trusted_judgments','gender_gold'], inplace = True)

In [40]:
# Double check the data 
print (data['gender'].value_counts())
print ('-'*40)
data.info()

female    5367
male      4653
brand     3784
Name: gender, dtype: int64
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 20049
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         13804 non-null  object
 1   description    11773 non-null  object
 2   fav_number     13804 non-null  int64
 3   link_color     13804 non-null  object
 4   retweet_count  13804 non-null  int64
 5   sidebar_color  13804 non-null  object
 6   text           13804 non-null  object
 7   tweet_count    13804 non-null  int64
dtypes: int64(3), object(5)
memory usage: 970.6+ KB

In [41]:
data.describe()

          fav_number  retweet_count   tweet_count
count   13804.000000   13804.000000  1.380400e+04
mean     4235.962692       0.068169  3.807311e+04
std     12162.666724       1.420828  1.251379e+05
min         0.000000       0.000000  1.000000e+00
25%        22.000000       0.000000  2.221750e+03
50%       530.000000       0.000000  1.009500e+04
75%      3374.250000       0.000000  3.714150e+04
max    341621.000000     153.000000  2.680199e+06

In [42]:
data

,gender,description,fav_number,link_color,retweet_count,sidebar_color,text,tweet_count
0,male,i sing my own rhythm.,0,08C2C2,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964
1,male,I'm the author of novels filled with family dr...,68,0084B4,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471
3,male,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",202,0084B4,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693
4,female,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,37318,3B94D9,0,0,Watching Neighbours on Sky+ catching up with t...,31462
5,female,you don't know me.,3901,F5ABB5,0,0,"Ive seen people on the train with lamps, chair...",20036
...,...,...,...,...,...,...,...,...
20044,female,I Love Me...Myself....&....I,632,0084B4,0,C0DEED,Need A Ride Home From Practice _Ù÷Ô_Ù÷Ô_Ù÷ÔAnd...,6669
20045,female,(rp),302,0084B4,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",783
20046,male,"Whatever you like, it's not a problem at all. ...",2513,CFB929,0,0,Greg Hardy you a good player and all but don't...,13523
20047,male,#TeamBarcelona ..You look lost so you should f...,50,0084B4,0,C0DEED,You can miss people and still never want to se...,26419
20049,female,Teamwork makes the dream work.,3348,0084B4,0,C0DEED,I think for my APUSH creative project I'm goin...,2922

In [43]:
## Textual data cleaning
# Handling text data
import re
import regex
import nltk
from collections import Counter
from nltk.stem import PorterStemmer
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1056)>

In [44]:
stop = stopwords.words('english')
porter = PorterStemmer()

def preprocessor(text):
    """ 
    Return a cleaned version of text, but keeping the emoticons
    """
    # Remove HTML markup
    text = re.sub('<[^>]*>', '', text)
    # Remove url tokens
    text = re.sub('http.*', ' ', text)

    return text

def remove_dup_whitespace(text):
    """
    This function removes duplicated whitespaces of a string
    """
    return re.sub('\s{2,}', ' ',text)

def tokenizer_porter(text):
    """
    This function tokenize and also perform stemming 
    """
    return [porter.stem(word) for word in text.lower().split()]

def clean_tweet(text):
    """
    This function tokenizes whole tweet into tokens,
    Then clean it, remove stopwords and combine back as a tweet.
    
    In other words, this function combines all 3 above functions
    """
    clean = ""
    tokens = tokenizer_porter(text)
    for token in tokens:
        if len(token)> 1:
            if token not in stop:
                clean += preprocessor(token)
    return remove_dup_whitespace(clean)

In [45]:
def has_nan(X):
    '''
    Input: Dataframe
    This func check if the features of a DataFrame has missing values or not
    '''
    X_ = X.isnull()
    X_ = X_.add_suffix('_has_nan')
    return X_

has_nan_df = has_nan(data[['description']])
data = pd.concat([data, has_nan_df], axis=1)

# Fill NaN with empty strings
data['description'].fillna("", inplace=True)

In [46]:
data[['text','description']] = data[['text','description']].applymap(clean_tweet)

In [47]:
data

,gender,description,fav_number,link_color,retweet_count,sidebar_color,text,tweet_count,description_has_nan
0,male,sing rhythm,0,08C2C2,0,FFFFFF,robbi respond critic win eddi edward worldtitl...,110964,False
1,male,i m author novel fill famili drama romance,68,0084B4,0,C0DEED,it felt like friend wa live stori them retir ...,7471,False
3,male,mobil guy 49ers shazam google kleiner perkins ...,202,0084B4,0,C0DEED,hi jordanspieth look url use ifttt typic see a...,1693,False
4,female,ricki wilson best frontman kais chief best ban...,37318,3B94D9,0,0,watch neighbour sky catch neighbs xxx xxx,31462,False
5,female,know me,3901,F5ABB5,0,0,ive seen peopl train lamps chairs tv etc,20036,False
...,...,...,...,...,...,...,...,...,...
20044,female,love me myself i,632,0084B4,0,C0DEED,need ride home practic and rain hard asf,6669,False
20045,female,rp,302,0084B4,0,C0DEED,lookupondeath fine i ll drink tea too love you,783,False
20046,male,whatev like it problem all 9 1 15 chargern for...,2513,CFB929,0,0,greg hardi good player get face dez bryant lea...,13523,False
20047,male,teambarcelona you look lost follow me follow ...,50,0084B4,0,C0DEED,miss peopl still never want see,26419,False
20049,female,teamwork make dream work,3348,0084B4,0,C0DEED,think apush creativ project i m go bring bacon...,2922,False

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13804 entries, 0 to 20049
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               13804 non-null  object
 1   description          13804 non-null  object
 2   fav_number           13804 non-null  int64
 3   link_color           13804 non-null  object
 4   retweet_count        13804 non-null  int64
 5   sidebar_color        13804 non-null  object
 6   text                 13804 non-null  object
 7   tweet_count          13804 non-null  int64
 8   description_has_nan  13804 non-null  bool
dtypes: bool(1), int64(3), object(5)
memory usage: 984.1+ KB